#app-header-left {
  justify-content: flex-start !important;
  margin-left: 0 !important;
}

@media (max-width: 1024px) {
  #app-header-left {
    margin-left: 0 !important;
  }
  #app-home, #app-badge-ca {
    padding-left: 0 !important;
    padding-right: 4px !important;
    flex-shrink: 0 !important;
  }
}
